* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    background: rgb(19,35,124);
    background: linear-gradient(176deg, rgba(19,35,124,1) 0%, rgba(54,77,204,1) 100%);
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    
}

h1{
    font-family: "Architects Daughter", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
    font-weight: 450;
    
}


.profile {
    text-align: center;
    margin-top: 15px;
    
}

.social {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.link-list {
    list-style: none;
    
}


.link-list li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 0 15px white;
    margin: 10px 20px;
    color: rgb(54, 77, 204);
    font-weight: bold;
}

.link-list li a span{
    color: gray;
    display: block;
    margin-top: 10px;
}